.cards {
    width: auto;
    height: auto;
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

img {
    height: 182px;
    position: absolute;
    bottom: 0px;
}

.cards .captain, .cards .iron, .cards .widow, .cards .spider {
    top: 47px;
}

.cards .spider img {
    top: 0px;
}

.captain, .iron, .widow, .spider {
    border-radius: 5px;
    margin: auto auto 48px auto;
    width: 270px;
    height: 140px;
    position: relative;
}

.captain {
    background: linear-gradient(#4568DC, #B06AB3);
}

.iron {
    background: linear-gradient(#e52d27, #b31217);
}

.widow {
    background: linear-gradient(#000, #61045F);
}

.spider {
    background: linear-gradient(#e52d27, #000);   
}

p.alias {
    color: white;
    font-size: 12px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Verdana;
    position: relative;
    text-align: right;
}

p.name {
    color: rgba(255, 255, 255, 0.5);
    font-size: 9px;
    padding-right: 10px;
    display: block;
    position: relative;
    text-align: right;
    font-family: Verdana;
    margin: 0px;   
 }