@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
/* @media (max-width: ) */
body {
  background: url("./background.jpeg");
  background-position: 0 1%;
  background-size: 2000px 1500px;
  margin: 0;
}
.area {
    position: absolute;
    height: 49.71vh;
    width: 99.85vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#my_area {
    bottom: 0;
}
#enemy_area {
    top: 0;
}
.field {
    display: flex;
    margin-right: 20%;
    margin-left: 20%;
    font-family: 'New Tegomin', sans-serif;
    display: flex;
    float: left;
    position: absolute;
}
.field img {
    border-radius: 20px;
    position: relative;
    height: 150px;
    width: 150px;
}
.field .card {
    border-radius: 50%;
    height: 230px;
}
.field .card .health {
    margin-left: 120px;
}
.field .card .card_img {
    border-radius: 50%; 
    width: 90%;
    margin-left: 6px;
}
#my_field {
    top: 0;
}
#enemy_field {
    bottom: 0;
}
.card_wrapper {
    display: flex;
    border: 3px solid white;
    font-family: 'New Tegomin', sans-serif;
    float: left;
    position: absolute;
}
#my_hand {
    bottom: 0;
    border: 5px dashed blue;
}
#enemy_hand {
    top: 0;
    border: 5px dashed black;
}
#my_hand .card {
    background: #d0ffc5;    
}
#enemy_hand .card {
    background: #ffbdbd;   
}
.card {
    position: relative;
    height: 215px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    margin: 21px;
    background: #c0c0c0;
}
.card img {
    border-radius: 20px;    
    height: 150px;
    width: 150px;
    border: 2px solid black;
    margin-left: -2px;
}
.card .stat {
    border-radius: 50%;
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 90%;
    color: white;
}
.card .mana_cost {
    position: absolute;
    margin-top: -180px;
    margin-left: 140px;
    background: #2d8efd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .mana_cost p {
    position: absolute;
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
.card .card_name {
    color: black;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    font-size: 25px;    
}
.card .attack {
    position: absolute;
    z-index: 0;
    background: #92901d;
    margin-left: -20px;
    margin-top: 0px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .attack img {
    position: absolute;
    z-index: 1;
    border-radius: 0px; 
    margin-left: 0px;
    margin-top: 0px;
    height: 50px;
    width: 50px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    border: 0;
}
.card .attack p {
    position: absolute;
    z-index: 2;
    text-align: center;
    margin: auto;
    flex-shrink: 0;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
.card .health {
    position: absolute;
    background: #b31217;
    height: 50px;
    width: 50px;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    margin-left: 125px;
    margin-top: 0px;
}
.card .stat p {
    padding: 5px;
    margin-top: 0px;
    text-align: center;
}
.enemy_card {
    background: #ffbdbd;
}
.my_card {
    background: #d0ffc5;   
}
.user {
    padding-left: 3%;
    height: 300px;
    width: 200px;
    position: relative;
}
.user img {
    border-radius: 45%;
    border: 2px solid #a7a7a7;
    position: absolute;
    height: 300px;
    width: 200px;
    z-index: 1;
}
.user .health {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50px;
    z-index: 2;
}
.user .health p {
    font-family: 'New Tegomin', sans-serif;
    font-size: 30px;
    color: white;
    padding: 10px;
    margin-top: -65px;
    text-align: center;
}
.user .health .drop {
    margin-top: -15px;
}
#enemy_hero {
    padding-top: 5px;
}
#my_hero {
    position: absolute;
    bottom: 10px;
}
#my_hero img {
    position: absolute;
    bottom: 0;
}
#login-box {
    position: absolute;
    text-align: center;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 10px;
    padding-top: 5px;
    border-radius: 20%;
    border: 2px solid black;
    width: 250px;
    height: 230px;
    background: #a7a7a7;
}
#login-box .statistic {
    color: yellow;
    font-size: 2em;
}
#login-box input[type="submit"] {
    margin-top: 28px;
    width: 140px;
    height: 32px;
    background: #17aa8c;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}
#login-box input[type="submit"]:hover {
    transition: all .2s;
}
#login-box #log_out_btn {

}
#resources {
    position: fixed;
    text-align: center;
    margin: 0;
    top: 50%;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);  
    border-radius: 20%;
    display: flex;
    border: 3px solid black;
    height: 150px;
    width: 150px; 
}
#time {
    position: absolute;
}
#pass {
    position: absolute;
    bottom: 20px;  
}
/* #pass {
    position: absolute;
    //margin: 10px;
    bottom: 0;
    width: 100px;
    height: 50px;
    background: #f3f0f1;
    position: relative;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde;
}
#pass label {
    line-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: semibold;
}
#pass:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
}
#pass:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
} */
#manna {
    color: aqua;
    background-color: blue;
    width: 60px;
    height: 30px;
    text-align: center;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
/*da*/
.text-box {
    margin-left: 44vw;
	 margin-top: 42vh;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.invisible_card {
    visibility: hidden;
}